<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="V">
        <div class="symbols">
            <a href="#"><i id="F" class="fa-brands fa-facebook"></i></a>
            <a href="#"><i id="I" class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <p class="info">&#169; 2024RoyalTravellers,Inc.</p>
        <div class="last">
        <p id="P">Privacy</p>
        <p id="s">SiteMap</p>
        <p id="c">Company Details</p>
        </div>
    </div>


</body>
</html>