<%layout("/listings/boilerplate")%>
<body>
   <div class="row row-cols-lg-3" id="R">
    <% for(data of data){%>
        <a href="/show/<%=data.id%>" class="link">
          <div class="card" style="width: 20rem;">
            <img src=<%=data.image.url%> class="card-img-top" alt="...">
            <div class="card-body">
              <%=data.title%>
              <br>
              <p>&#8377;<%= data.price.toLocaleString("en-IN")%>/Night<br></p>
            </div>
          </div>
        </a>
          <%} %>
   </div>
</body>
</html>