<%layout("/listings/boilerplate")%>
<form class="needs-validation" novalidate method="post" action="/loginpost" style="height: 100vh;">
    <div class="row">
        <br>
        <br>
        <h2 class="col-5 offset-3">Login</h2>
        <br>
        <br>
        <br>
        <div class="col-5 offset-3">
            <label for="exampleFormControlInput" class="form-label"><h4>Username</h4></label>
            <input type="username" class="form-control" id="exampleFormControlInput" name="username" required>
        </div>
        <br>
        <br>
        <div class="col-5 offset-3">
            <label for="exampleFormControlInput1" class="form-label"><h4>Password</h4></label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name="password" required>
        </div>
        <br>
        <br>
        </div>
        <br>
        <button type="submit" class="btn btn-primary offset-3" >Submit</button>
</form>